/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #0d4891;
  --secondary: rgb(17, 167, 167);
  --neutral: rgb(48, 52, 51);
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
a h1 {
  color: var(--error);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-buttom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px; 
  box-sizing: border-box;
}
form button {
  background: var(--error);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.workout-info {
  border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 2px 2px grey;
    background-color: #fff;
    margin: 20px;
}
.workout-title {
  color: var(--error);
}